<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>小说网站</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('login') }}">登录</a></li>
            <!-- 可以添加更多下拉选项 -->
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>